body {
	padding-top:70px;
	width: 100%;
	height: 100%;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvectica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

.submit-btn {
	background-color: #B1DBFF;
	margin: 10px 0 10px 0;
}

.trip {
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 5px;
}

.odd {
	background-color: #F2F9FF;
}

.even {
	background-color: #ECEFF3;
}

.form-auth {
	max-width: 330px;
	padding: 5px;
	margin: 0 auto;
}