<form class="form-auth" ng-submit="addTrip()">
	<h2>Add a Trip</h2>
	<div class="input-group">
	  <input required type="number" min="0" step="0.1" ng-model="trip.distance" placeholder="Distance" class="form-control">
	  <span class="input-group-addon">KM</span>
	</div>
	<br>
	<div class="input-group">
	  <input required type="number" step="0.001" min="0" ng-model="trip.fuel_used" placeholder="Fuel Used" class="form-control">
	  <span class="input-group-addon">Liters</span>
	</div>
	<br>
	<input type="submit" value="Enter Trip" class="btn btn-primary btn-block">
</form>