<!DOCTYPE html>
<html>
  <head>
    <title>EcoBud</title>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    <!-- Bootstrap Imports and Styling -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css">

  </head>

  <body ng-app="myApp">
    <nav class="navbar navbar-fluid navbar-default navbar-fixed-top" ng-controller="CarSelectController">
      <div class="container">
        <a class="navbar-brand" href="#/"> EcoBud! </a>
        <ul class="navbar-right nav navbar-nav">
          
          <li><a href="#/addTrip" ng-show="isCarSelected()">Add Trip</a></li>

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button">{{isCarSelected() ? car.make + " " + car.model : "Select Car"}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li ng-repeat="car in cars"><a ng-click="select(car._id)">{{car.year}} {{car.make}} {{car.model}}</a></li>
            </ul>
          </li>

        </ul>
      </div>
    </nav>
    <div class="col-md-offset-2 col-md-8">
      <div ng-view>
      </div>
    </div>
  </body>

  <!-- Angular Imports -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-resource.min.js"></script>
  <script src="js/myapp.js"></script>

</html>
