<div class="clearfix">

  <div id="trip-stream" ng-show="car.trips.length > 0">
    <h3>Trips</h3>
    <h3>Average Fuel Economy: {{getAverageFuelEcon(car.trips) | number: 1}} L/100km</h3>
    <div class="well well-sm row" ng-repeat="trip in car.trips | orderBy:'created_at':true" ng-class-odd="'odd'" ng-class-even="'even'">

      <div class="col-md-8">
        Logged {{trip.created_at | date: "h:mma 'on' MMM d, y"}}<br>
        <div class="row">
          <div class="col-md-6">Distance: {{trip.distance | number: 1}}</div>
          <div class="col-md-6">Fuel Used: {{trip.fuel_used | number: 1}}</div>
        </div>
      </div>

      <div class="col-md-4 text-center">L/100km: {{calcFuelEcon(trip) | number: 1}}</div>

    </div>
  </div>

</div>
